  <h3 class="display-4 text-center">Projeto Loja</h3>
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" routerLink="marca">Marca</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="categoria">Categoria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="cliente">Cliente</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="listagem-clientes">Lista Clientes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="venda">Venda</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="listagem-vendas">Lista Vendas</a>
      </li>
    </ul>
  </div>

<router-outlet></router-outlet>
