<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>{{titulo}}</h2>
      <div class="alert alert-danger" *ngIf="errorMsg">
        <strong [ngClass]="FadeOutSuccessMsg()"> {{errorMsg}} </strong>
      </div>
      <div class="alert alert-success" *ngIf="succsessMsg && !hideSuccessMessage">
        <strong [ngClass]="FadeOutSuccessMsg()"> {{succsessMsg}} </strong>
      </div>
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" novalidate>

        <div class="form-group">
          <input type="text" required #marca="ngModel" [class.is-invalid]="marca.invalid && marca.touched"
            class="form-control" name="marca" [(ngModel)]="formData.marca">
          <small class="text-danger" [class.d-none]="marca.valid || marca.untouched">Marca é
            obrigatório</small>
        </div>

        <button [disabled]="userForm.form.invalid" class="m-1 btn btn-light btn-outline-primary" Buttonlable="DepScreen"
          type="submit">Salvar</button>
        <button class="m-1 btn btn-light btn-outline-primary" Buttonlable="DepScreen" type="reset">Limpar
          Formulário</button>
      </form>
    </div>

    <div class="col">
      <br>
      <input class="form-control" id="myInput" type="text" (keyup)="applyFilter($event.target.value)"
        placeholder="Pesquise..">
      <br>
      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of marcas; let id = index">
            <td>{{m.marca}}</td>
            <td><button class="btn-primary" (click)="editarItem(m)">Editar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
