<div class="container-fluid">
  <h2>Nova Venda</h2>
  <div class="alert alert-danger" *ngIf="errorMsg">
    <strong [ngClass]="FadeOutSuccessMsg()"> {{errorMsg}} </strong>
  </div>
  <div class="alert alert-success" *ngIf="succsessMsg && !hideSuccessMessage">
    <strong [ngClass]="FadeOutSuccessMsg()"> {{succsessMsg}} </strong>
  </div>
  <form #userForm="ngForm" (submit)="onSubmit(userForm)">
    <div class="row">

      <div class="col-5">
        <div class="form-group">
          <label>Cliente</label>
          <select name="idCliente" #idCliente="ngModel" [(ngModel)]="service.formData.idCliente" class="form-control">
            <option value="0">Selecione</option>
            <option *ngFor="let cliente of listaClientes" [ngValue]="cliente.idCliente">{{cliente.nome}}</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label>Pagamento</label>
          <select name="formaDePagamento" #formaDePagamento="ngModel" [(ngModel)]="service.formData.formaDePagamento"
            class="form-control">
            <option value="0">Selecione</option>
            <option value="Dinheiro">Dinheiro</option>
            <option value="Debito">Débito</option>
            <option value="Credito">Crédito</option>
          </select>
        </div>
      </div>

      <div class="col">
        <div class="form-group">
          <label>Valor Total</label>
          <input type="number" name="valor" #valor="ngModel" [(ngModel)]="service.formData.valor" class="form-control">
        </div>
      </div>
    </div>


    <table class="table table-borderless">
      <thead class="thead-light">
        <th>Marca</th>
        <th>Categoria</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>
          <a class="btn btn-sm btn-success text" (click)="AddouEditarItem(null, service.formData.idVenda)">Add
            Produto</a>
        </th>
      </thead>
      <tbody>
        <tr *ngIf="service.itensVenda.length==0">
          <td class="font-italic text-center" colspan="5">
            Nenhum produto Selecionado.
          </td>
        </tr>
        <tr *ngFor="let item of service.itensVenda; let i=index;">
          <td>{{item.marca}}</td>
          <td>{{item.categoria}}</td>
          <td>{{item.quantidade}}</td>
          <td>{{item.valor}}</td>
          <td>
            <a class="btn btn-sm btn-info text" (click)="AddouEditarItem(i, service.formData.idVenda)">Editar</a>
            <a class="btn btn-sm btn-danger text ml-1" (click)="onDeleteItem(item.idItemVenda, i)">Excluir</a>
          </td>>
        </tr>
      </tbody>
    </table>


    <button [disabled]="userForm.form.invalid" class="m-1 btn btn-light btn-outline-primary" Buttonlable="DepScreen"
      type="submit">Salvar</button>
  </form>

</div>
