<div>
  <br>
  <h2>Tabela Clientes</h2>
    <input class="form-control" id="myInput" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Pesquise..">
    <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes; let id = index">
        <td>
          <span  contenteditable="true" (keyup)="changeValue(id, 'nome', $event)" (blur)="updateList(id, 'nome', $event)">{{c.nome}}</span>
        </td>
        <td>
          <span contenteditable="true" (keyup)="changeValue(id, 'cpf', $event)" (blur)="updateList(id, 'cpf', $event)">{{c.cpf}}</span>
        </td>
        <td>
          <span contenteditable="true" (keyup)="changeValue(id, 'email', $event)" (blur)="updateList(id, 'email', $event)">{{c.email}}</span>
        </td>
        <td><button class="btn-primary" (click)="editarItem(c)">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>
