<div>
  <br>
  <h2>Clientes</h2>
    <input class="form-control" id="myInput" type="text" (keyup)="applyFilter($event.target.value)" placeholder="Pesquise..">
    <br>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th *ngFor="let head of headElements" scope="col">{{head}}</th>
        <th><button class="btn-primary" (click)="cadastrarNovo()">Novo</button></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of clientes; let id = index">
        <td>{{c.nome}}</td>
        <td>{{c.cpf}} </td>
        <td>{{c.email}} </td>
        <td>{{c.dataDeNascimento}} </td>
        <td><button class="btn-primary" (click)="editarItem(c)">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>
